# Student Loan Risk with Deep Learning

In [23]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [24]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [25]:
loans_df.shape

(1599, 12)

In [26]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [27]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [28]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [29]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop(columns="credit_ranking")

# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

### Step 3: Split the features and target sets into training and testing datasets.

In [30]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
x_train, x_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [31]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(x_train)

# Transform the scaler to the features training and test dataset
X_train_scaled = X_scaler.transform(x_train)
X_test_scaled = X_scaler.transform(x_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [32]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)


# Review the number of features
input_nodes

11

In [39]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 7

# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 4

# Define the number of neurons in the output layer
output_nodes = 1

In [40]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(hidden_nodes_layer1, activation="relu", input_dim=input_nodes))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(output_nodes, activation="sigmoid"))

In [41]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_12 (Dense)                │ (None, 7)              │            84 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_13 (Dense)                │ (None, 4)              │            32 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_14 (Dense)                │ (None, 1)              │             5 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 121 (484.00 B)

 Trainable params: 121 (484.00 B)

 Non-trainable params: 0 (0.00 B)

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [42]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [43]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.3591 - loss: 0.8148
Epoch 2/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 534us/step - accuracy: 0.3425 - loss: 0.7688
Epoch 3/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 419us/step - accuracy: 0.4006 - loss: 0.7333
Epoch 4/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.4608 - loss: 0.7109
Epoch 5/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 325us/step - accuracy: 0.4784 - loss: 0.6913
Epoch 6/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 347us/step - accuracy: 0.5390 - loss: 0.6789
Epoch 7/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.6055 - loss: 0.6597
Epoch 8/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.6701 - loss: 0.6360
Epoch 9/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 332us/step - accuracy: 0.6881 - loss: 0.6157
Epoch 10/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 340us/step - accuracy: 0.7168 - loss: 0.5854
Epoch 11/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7230 - loss: 0.5707
Epoch 12/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 318us/step - accuracy: 0.7146 - loss: 0.5652
Epoch 13/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 417us/step - accuracy: 0.7355 - loss: 0.5417
Epoch 14/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 345us/step - accuracy: 0.7278 - loss: 0.5347
Epoch 15/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7340 - loss: 0.5313
Epoch 16/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 310us/step - accuracy: 0.7297 - loss: 0.5170
Epoch 17/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 308us/step - accuracy: 0.7429 - loss: 0.5024
Epoch 18/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7326 - loss: 0.5161
Epoch 19/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 327us/step - accuracy: 0.7195 - loss: 0.5329
Epoch 20/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 324us/step - accuracy: 0.7624 - loss: 0.4958
Epoch 21/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7535 - loss: 0.4925
Epoch 22/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 506us/step - accuracy: 0.7299 - loss: 0.5255
Epoch 23/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 361us/step - accuracy: 0.7559 - loss: 0.4990
Epoch 24/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7459 - loss: 0.5038
Epoch 25/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 322us/step - accuracy: 0.7643 - loss: 0.4809
Epoch 26/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7448 - loss: 0.4933
Epoch 27/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 312us/step - accuracy: 0.7411 - loss: 0.5041
Epoch 28/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7525 - loss: 0.4831
Epoch 29/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7424 - loss: 0.4961
Epoch 30/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7521 - loss: 0.4997
Epoch 31/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7428 - loss: 0.5099
Epoch 32/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 435us/step - accuracy: 0.7577 - loss: 0.4812
Epoch 33/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 336us/step - accuracy: 0.7766 - loss: 0.4756
Epoch 34/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 333us/step - accuracy: 0.7600 - loss: 0.4882
Epoch 35/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 336us/step - accuracy: 0.7500 - loss: 0.4989
Epoch 36/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7332 - loss: 0.5066
Epoch 37/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 307us/step - accuracy: 0.7487 - loss: 0.4937
Epoch 38/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7604 - loss: 0.4947
Epoch 39/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 338us/step - accuracy: 0.7633 - loss: 0.4869
Epoch 40/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7684 - loss: 0.4851
Epoch 41/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 315us/step - accuracy: 0.7498 - loss: 0.4965
Epoch 42/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 336us/step - accuracy: 0.7728 - loss: 0.4657
Epoch 43/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 343us/step - accuracy: 0.7438 - loss: 0.5129
Epoch 44/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 453us/step - accuracy: 0.7635 - loss: 0.4772
Epoch 45/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 343us/step - accuracy: 0.7532 - loss: 0.4919
Epoch 46/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 328us/step - accuracy: 0.7726 - loss: 0.4804
Epoch 47/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 317us/step - accuracy: 0.7609 - loss: 0.4791
Epoch 48/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 331us/step - accuracy: 0.7824 - loss: 0.4764
Epoch 49/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 330us/step - accuracy: 0.7532 - loss: 0.4987
Epoch 50/50
38/38 ━━━━━━━━━━━━━━━━━━━━ 0s 326us/step - accuracy: 0.7795 - loss: 0.4641

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [44]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - 4ms/step - accuracy: 0.7400 - loss: 0.5116
Loss: 0.5115638971328735, Accuracy: 0.7400000095367432

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [46]:
# Set the model's file path
file_path = Path("student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [47]:
# Set the model's file path
file_path = Path("student_loans.keras")


# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [58]:
# Make predictions with the test data
predictions = nn_model.predict(X_test_scaled)

# Display a sample of the predictions
predictions[:5]

13/13 ━━━━━━━━━━━━━━━━━━━━ 0s 655us/step

array([[0.37190548],
       [0.34098986],
       [0.7903539 ],
       [0.7820818 ],
       [0.97210705]], dtype=float32)

In [50]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_df = pd.DataFrame(columns=["predictions"], data=predictions)
predictions_df["predictions"] = round(predictions_df["predictions"],0)
predictions_df

     predictions
0            0.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [51]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, predictions_df["predictions"].values))

              precision    recall  f1-score   support

           0       0.70      0.78      0.74       188
           1       0.78      0.70      0.74       212

    accuracy                           0.74       400
   macro avg       0.74      0.74      0.74       400
weighted avg       0.74      0.74      0.74       400

In [61]:
#View results of the model predictions compared to the actual results
y_test_reset = y_test.reset_index(drop=True)

results = pd.DataFrame({
    "Prediction": predictions_df["predictions"],
    "Actual": y_test_reset
})

results

     Prediction  Actual
0           0.0       0
1           0.0       1
2           1.0       1
3           1.0       1
4           1.0       1
..          ...     ...
395         1.0       0
396         0.0       0
397         1.0       1
398         0.0       0
399         1.0       1

[400 rows x 2 columns]

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**


To create a model that serves as a reccommendation system to reccommend student loan options I  would consider gathering data on the students academic career, existing debt and first generation immigrant status. The academic career data would include their major or choice and how many years it would take for them to be employed in that profession. The years of study before employment is important for the model to reccommend either a short or long repayment plan. If existing debt data could be extracted from credit report, that would be useful in helping the model make predictions based on the students financial history. Additionally, it may be interesting to know if student is a first generation immigrant or if they are the first in their family to go to college. Those data would be relevant because those students need extra learning material to understand student loan repayments, interests, risks, etc. as the university education system works differently in other countries.

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

Content-based filtering in this context would use these detailed, specific attributes about the students to match them with the best student loan option. This method is suitable because it allows for highly personalized recommendations based on the student’s unique academic and personal background. It does not rely on the preferences or behaviors of other users, which is the purpose of collaborative filtering. Rather the reccommendations would be based on the specific needs and circumstances of each student as indicated by their data profile.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

Two main concerns for this student loan recommendation system are bias and privacy. 
The data involved in this system, particularly information about existing debt, is highly sensitive. Mishandling such data could lead to privacy breaches, exposing students to potential harm, discrimination, or financial risk. Secondly, using algorithmic processes to recommend student loans based on family history and immigration status can inadvertently lead to biased outcomes. Creating a general system to assess a students personal financial needs is difficult as each user is unique. However, given enough data I believe the model could be robust and accurate.